@import "../../styles/variables";

#app-header {
  background-image: url("../../assets/header-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 12rem;

  h1 {
    vertical-align: bottom;
    text-align: right;
    padding: 6rem 3em 2rem 0;
    font-size: 5rem;
    color: $text-color-1;

    @media (max-width: 1000px) {
      padding-right: 0;
    }
  }

  @media (max-width: 675px) {
    background-image: none;
    height: auto;

    h1 {
      font-size: 3rem;
      padding: inherit;
      text-align: center;
      vertical-align: middle;
    }
  }
}
