@import "../../styles/variables";

#app-header {
  background-image: $bg-header-img;
  background-size: contain;
  background-repeat: no-repeat;
  height: 12rem;

  h1 {
    vertical-align: bottom;
    text-align: right;
    padding: 6rem 3em 2rem 0;
    font-size: 5rem;
    color: $text-color-1;

    // If screen is md
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-right: .7em;
    }
  }

  // If screen is <= sm
  @media screen and (max-width: $screen-sm-max) {
    background-image: none;
    height: auto;

    h1 {
      font-size: 3rem;
      padding: inherit;
      text-align: center;
      vertical-align: middle;
    }
  }
}
