
<div id="app-character" class="container-fluid card character-card" [ngClass]="{ 'active-character': _active, teamColor: true }">
  <div class="card-body">
    <form [formGroup]="characterForm" novalidate>
      <div class="form-row">
        <div class="form-group col-sm-12 col-md">
          <input type="text" class="form-control underline no-pl" formControlName="name" placeholder="Name">
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <div class="input-group">
            <div class="input-group-addon underline strong no-pl no-pr">AC:</div>
            <input type="number" class="form-control underline no-pr" formControlName="ac">
          </div>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <div class="input-group">
            <div class="input-group-addon underline strong no-pl no-pr">HP:</div>
            <input type="number" class="form-control underline no-pr" formControlName="hp">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 container-fluid">
          <div class="form-row">
            <div class="form-group col-sm-6 col-md-12">
              <div class="input-group">
                <div class="input-group-addon underline strong no-pl no-pr">Init:</div>
                <input type="number" class="form-control underline no-pr" formControlName="initiative">
              </div>
            </div>

            <div class="form-group col-sm-6 col-md-12">
              <div class="input-group">
                <div class="input-group-addon underline strong no-pl no-pr">Team</div>
                <select class="form-control underline" formControlName="team">
                  <option *ngFor="let t of teams" [value]="t.color">{{t.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md container-fluid">
          <div class="row">
            <div class="col-12">
              <h6 class="strong">Effects:</h6>
            </div>
          </div>

          <div class="row">
            <div class="col-12 container-fluid" formArrayName="effects">
              <div class="form-row" *ngFor="let effect of effects.controls; let i=index" [formGroupName]="i">
                <div class="form-group col-sm-5 col-lg-7">
                  <input type="text" class="form-control underline no-pl" formControlName="description" placeholder="Description">
                </div>

                <div class="form-group col-sm-6 col-lg-4">
                  <div class="input-group">
                    <input type="number" class="form-control underline no-pl" formControlName="roundsLeft">
                    <div class="input-group-addon underline no-pl no-pr">rounds</div>
                  </div>
                </div>

                <div class="col-1">
                  <button type="button" class="btn btn-danger">
                    <span class="fa fa-trash-o fa-lg" (click)="removeEffect(i)"></span>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-secondary col-12" (click)="addEffect()">
                    <span class="fa fa-plus"></span>&nbsp;Add an Effect
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
