
$bg-color-1: #67020a;
$bg-color-2: #ccc;

$bg-img: url("/assets/bg-red.jpg");
$bg-header-img: url("/assets/header-image.jpg");

$text-color-1: #fff;

$bg-light-blue: #cce5ff;
$bd-light-blue: #b8daff;
$bg-light-green: #d4edda;
$bd-light-green: #c3e6cb;
$bg-light-red: #f8d7da;
$bd-light-red: #f5c6cb;
$bg-light-yellow: #fff3cb;
$bd-light-yellow: #ffeeba;

// Screen Size Breakpoints
$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;
