
<div id="app-tools">
  <form [formGroup]="show">
    <div class="row btn-group dm-btn-group" data-toggle="buttons">
      <label class="btn btn-secondary dm-btn col-4">
        <input type="checkbox" autocomplete="off" formControlName="initiative"> Initiative
      </label>
      <label class="btn btn-secondary dm-btn col-4">
        <input type="checkbox" autocomplete="off" checked="{{this.show.value.status}}" formControlName="status"> Status
      </label>
      <label class="btn btn-secondary dm-btn col-4">
        <input type="checkbox" autocomplete="off" formControlName="spells"> Spells
      </label>
    </div>
  </form>
  <div class="row">
    <div class="dm-initiative" ngClass="{{this.cardWidth}}" *ngIf="show.value.initiative">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Initiative</h4>
          <p class="card-text">Initiative cards go here!</p>
        </div>
      </div>
    </div>

    <div class="dm-status" ngClass="{{this.cardWidth}}" *ngIf="show.value.status">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Status</h4>
          <p class="card-text">Status cards go here!</p>
        </div>
      </div>
    </div>

    <div class="dm-spells" ngClass="{{this.cardWidth}}" *ngIf="show.value.spells">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Spells</h4>
          <p class="card-text">Spell cards go here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
