@import "../../styles/variables";

#app-combat {
  background-color: $bg-color-2;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 3px;

  .row { // try the `.no-gutters` class
    margin: unset;
  }

  .row + .row {
    margin-top: .7em;
  }

  .container-fluid {
    margin-bottom: .7em;
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    max-height: calc(100vh - 4rem);
    top: 4rem;
    overflow-y: auto;
    z-index: 900;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin: 0;
  }
}
