
<div id="app-combat">
  <!-- <div class="row">
    <button class="btn btn-primary col-sm-12 col-md-8" (click)="addCharacter()">
      Add a Character
    </button>

    <button class="btn btn-secondary col-sm-12 col-md-4" (click)="startCombat()">
      Start
    </button>
  </div> -->

  <div class="row">
    <div class="container-fluid col-sm-12 col-md-8">
      <div class="row">
        <button class="btn btn-primary col" (click)="addCharacter()">
          Add a Character
        </button>
      </div>

      <app-character class="row" *ngFor="let c of combatService.characters" [id]="c.id"></app-character>
    </div>

    <div class="container-fluid col-sm-12 col-md-4">
      <div class="row">
        <button class="btn btn-secondary col" (click)="startCombat()">
          Start
        </button>
      </div>

      <div class="row">
        <button class="btn btn-secondary col">
          Next
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    {{ this.combatService.characters | json }}
  </div>
</div>
